body {
    background-color: #e3f4e5;
}
section div {
	display: inline-block;
    margin-left: 4%;
    border: solid 1px;
    padding: 1%;
    margin-bottom: 2%;
}
section {
	  
    border-top: solid;
    padding-top: 5%;
}
h2 {
	text-align: center;
	text-transform: uppercase;
}

section	{
	text-align: center;
}

table
{
    border-collapse: collapse;
    text-align: center;
    margin-left: 20%;
}
td, tr, th
{
    border: 1px solid black;
}
td {
    padding: 2%;
}
#add, #tab {
    border: none;
}
#add {
    padding-top: 1%;
}
#tab div {
    border: none;
}

th p {
    margin-left: 6%;
    margin-right: 6%;
    padding: 5% 
}

#form-add {
    background-color: #8adb8b;
    border-color: #4ece50;
    display: none;
}









